<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

<p><font face=calibri><span style=font-size:medium;>Hi Team,<br /><br />Please find the status of the provided services in the attached text file.</p><br />

<p><font face=calibri><span style=font-size:medium;>Regards,</p>
<p><font face=calibri><span style=font-size:medium;>Application Team </p>
</body>
</html>